<a href="https://colab.research.google.com/github/makaronaaa/NLP/blob/main/book_pandas_HW1_677.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. load the dataset csv file using Pandas
import pandas as pd
import csv
import numpy
#df = pd.read_csv('books scraped.csv')
#df = pd.read_csv('C:/Users/WELCOME/Desktop/zomato.csv',encoding="ISO-8859-1")
df=pd.read_csv("/content/sample_data/books_scraped.csv")
# print(f"Dataframe is \n{df}")

print(df)

                                                 Title       Book_category  \
0                                 A Light in the Attic              Poetry
1                                   Tipping the Velvet  Historical Fiction
2                                           Soumission             Fiction
3                                        Sharp Objects             Mystery
4                Sapiens: A Brief History of Humankind             History
..                                                 ...                 ...
995  Alice in Wonderland (Alice's Adventures in Won...            Classics
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)      Sequential Art
997  A Spy's Devotion (The Regency Spies of London #1)  Historical Fiction
998                1st to Die (Women's Murder Club #1)             Mystery
999                 1,000 Places to See Before You Die              Travel

    Star_rating  Price     Stock  Quantity
0         Three  51.77  In stock        22
1           One  53.74  In stock        20
2           One  50.10  In stock        20
3          Four  47.82  In stock        20
4          Five  54.23  In stock        20
..          ...    ...       ...       ...
995         One  55.53  In stock         1
996        Four  57.06  In stock         1
997        Five  16.97  In stock         1
998         One  53.98  In stock         1
999        Five  26.08  In stock         1

[1000 rows x 6 columns]

In [ ]:
# 2. compute the median price PM of a book
PM = df['Price'].median()
print(PM)

35.980000000000004

In [ ]:
# 3. suppose we divide all books into 2 groups: ”cheap” books with prices less than PM 
# & ”expensive” books with prices more than PM. What is the average price in each group&
#what is the median price in group?
#Which one is larger for each group.


cheap = df["Price"][df['Price']< PM] 
expensive = df["Price"][df['Price']>PM] 

print(cheap)
print(expensive)

5      22.65
6      33.34
7      17.93
8      22.60
10     13.99
       ...
990    29.82
992    20.30
993    34.65
997    16.97
999    26.08
Name: Price, Length: 500, dtype: float64
0      51.77
1      53.74
2      50.10
3      47.82
4      54.23
       ...
991    37.26
994    43.38
995    55.53
996    57.06
998    53.98
Name: Price, Length: 500, dtype: float64

In [ ]:
# 4. What is the average price in each group&
avg_cheap= cheap.mean()
print("Average cheap =", avg_cheap)

avg_expensive = expensive.mean()
print('Average expensive =',avg_expensive)

#what is the median price in group?
median_cheap= cheap.median()
print("Median cheap =", median_cheap)

median_expensive = expensive.median()
print('Median expensive =',median_expensive)

#Which one is larger for each group.
if avg_cheap < median_cheap:
    print("Mean of cheap book is less than median of cheap books  \n")
else:
    print('Mean of cheap is greater than median of cheap book \n')
if avg_expensive < median_expensive:
    print("Mean of expensive book is less than median of expensive books  \n")
else:
    print('Mean of expensive book is greater than median of expensive book \n')

Average cheap = 22.558400000000002
Average expensive = 47.5823
Median cheap = 22.105
Median expensive = 47.474999999999994
Mean of cheap is greater than median of cheap book

Mean of expensive is greater than median of expensive book

In [ ]:
# 4.compute average price of a book by Star Rating

df=pd.read_csv("/content/sample_data/books_scraped.csv")
df1= df[['Price','Star_rating']]
#print(df1)

avg = df1.groupby('Star_rating').mean()
print("average price of a book by Star Rating is = ", avg)

     Price Star_rating
0    51.77       Three
1    53.74         One
2    50.10         One
3    47.82        Four
4    54.23        Five
..     ...         ...
995  55.53         One
996  57.06        Four
997  16.97        Five
998  53.98         One
999  26.08        Five

[1000 rows x 2 columns]
average price of a book by Star Rating is =                   Price
Star_rating
Five         35.374490
Four         36.093296
One          34.561195
Three        34.692020
Two          34.810918

In [ ]:
#5. compute average price of a book by Book Category
df2= df[['Price','Book_category']]
#print(df2)

avg = df2.groupby('Book_category').mean()
print("average price of a book by Book_category is = ", avg)

average price of a book by Book_category is =                          Price
Book_category
Academic            13.120000
Add a comment       35.796418
Adult Fiction       15.360000
Art                 38.520000
Autobiography       37.053333
Biography           33.662000
Business            32.460000
Childrens           32.638276
Christian           42.496667
Christian Fiction   34.385000
Classics            36.545263
Contemporary        36.200000
Crime               10.970000
Cultural            36.580000
Default             34.392697
Erotica             19.190000
Fantasy             39.593958
Fiction             36.066615
Food and Drink      31.414667
Health              51.452500
Historical          22.830000
Historical Fiction  33.644231
History             37.295000
Horror              35.949412
Humor               33.501000
Music               35.636923
Mystery             31.719062
New Adult           46.383333
Nonfiction          34.260182
Novels              54.810000
Paranormal          15.400000
Parenting           37.350000
Philosophy          33.558182
Poetry              35.974211
Politics            53.613333
Psychology          34.218571
Religion            32.567143
Romance             33.933714
Science             33.088571
Science Fiction     33.802500
Self Help           40.620000
Sequential Art      34.572267
Short Stories       35.880000
Spirituality        35.098333
Sports and Games    41.166000
Suspense            58.330000
Thriller            31.433636
Travel              39.794545
Womens Fiction      36.791176
Young Adult         35.449074

In [ ]:
# 6. compute average price of a book by Book Category and Star Rating

df3= df[['Price','Book_category','Star_rating']]
#print(df3)

avg = df3.groupby(['Book_category','Star_rating']).mean()
print("average price of a book by Book_category & Star rating is = ", avg)

average price of a book by Book_category & Star rating is =                                 Price
Book_category Star_rating
Academic      Two          13.120000
Add a comment Five         36.505000
              Four         35.157692
              One          36.356875
              Three        32.801765
...                              ...
Young Adult   Five         32.275333
              Four         37.550000
              One          37.200909
              Three        37.210000
              Two          33.485714

[182 rows x 1 columns]

In [ ]:
# 7. assume that Quantity reflects the demand. For each Book Category, 
# compute the average demand (round the result to integers). 
# What are the top 3 Book Categories by this criteria?

df4= df[['Quantity','Book_category']]
print(df4)
avg = df4.groupby(['Quantity','Book_category']).mean()
print('Average = ', avg)
Top = df4.groupby(['Book_category'])['Quantity'].mean().nlargest(3)
print(Top)

     Quantity       Book_category
0          22              Poetry
1          20  Historical Fiction
2          20             Fiction
3          20             Mystery
4          20             History
..        ...                 ...
995         1            Classics
996         1      Sequential Art
997         1  Historical Fiction
998         1             Mystery
999         1              Travel

[1000 rows x 2 columns]
Average =  Empty DataFrame
Columns: []
Index: [(1, Add a comment), (1, Art), (1, Childrens), (1, Classics), (1, Default), (1, Fantasy), (1, Fiction), (1, Historical Fiction), (1, Music), (1, Mystery), (1, New Adult), (1, Nonfiction), (1, Paranormal), (1, Philosophy), (1, Poetry), (1, Religion), (1, Romance), (1, Science), (1, Science Fiction), (1, Sequential Art), (1, Sports and Games), (1, Travel), (1, Womens Fiction), (1, Young Adult), (2, Add a comment), (2, Childrens), (2, Fiction), (2, Music), (2, Nonfiction), (2, Philosophy), (2, Sequential Art), (2, Sports and Games), (2, Young Adult), (3, Add a comment), (3, Adult Fiction), (3, Autobiography), (3, Biography), (3, Business), (3, Childrens), (3, Christian Fiction), (3, Classics), (3, Contemporary), (3, Default), (3, Fantasy), (3, Fiction), (3, Food and Drink), (3, Historical Fiction), (3, History), (3, Horror), (3, Humor), (3, Mystery), (3, Nonfiction), (3, Parenting), (3, Psychology), (3, Romance), (3, Science), (3, Science Fiction), (3, Sequential Art), (3, Sports and Games), (3, Thriller), (3, Travel), (3, Womens Fiction), (3, Young Adult), (4, Classics), (4, Default), (4, Fantasy), (4, Fiction), (4, Historical Fiction), (4, Horror), (4, Music), (4, Nonfiction), (4, Religion), (4, Romance), (4, Sequential Art), (4, Spirituality), (4, Thriller), (4, Womens Fiction), (4, Young Adult), (5, Academic), (5, Add a comment), (5, Autobiography), (5, Childrens), (5, Classics), (5, Default), (5, Fantasy), (5, Fiction), (5, Food and Drink), (5, Historical Fiction), (5, History), (5, Horror), (5, Music), (5, Nonfiction), (5, Philosophy), (5, Poetry), (5, Romance), (5, Science), (5, Science Fiction), (5, Sequential Art), (5, Thriller), (5, Young Adult), ...]

[326 rows x 0 columns]
Book_category
Crime       15.0
Cultural    15.0
Erotica     15.0
Name: Quantity, dtype: float64

In [ ]:
#8. which column is redundant and why?
'Stock' column is redundant because we can also figure out if a book is in stock by checking if the value of 'Quantity' is non-zero.