<a href="https://colab.research.google.com/github/makaronaaa/DataSciencePython/blob/main/Insurance_cost_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import csv
df=pd.read_csv('/content/sample_data/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

2. how many different entries are there for columns: age, sex,
children, smoker, and region

In [ ]:
# print("Age:",df['age'].count())
# print("Sex:",df['sex'].count())
# print("Children:",df['children'].count())
# print("Smoker:",df['smoker'].count())
# print("Region:",df['region'].count())

# variable to hold the count
cnt = 0
# list to hold visited values
distinct = []
# loop for counting the unique
# values in height
for i in range(0, len(df['age'])): 
    if df['age'][i] not in distinct:   
        distinct.append(df['age'][i]) 
        cnt += 1
print("No.of.unique values AGE:",
      cnt)
#print("unique values AGE:",distinct)

cnt = 0
distinct = []
for i in range(0, len(df['sex'])): 
    if df['sex'][i] not in distinct:   
        distinct.append(df['sex'][i]) 
        cnt += 1
print("No.of.unique values SEX:",
      cnt)
#print("unique values SEX:",distinct)

cnt = 0
distinct = []
for i in range(0, len(df['children'])): 
    if df['children'][i] not in distinct:   
        distinct.append(df['children'][i]) 
        cnt += 1
print("No.of.unique values CHILDREN:",
      cnt)
#print("unique values CHILDREN:",distinct)

cnt = 0
distinct = []
for i in range(0, len(df['smoker'])): 
    if df['smoker'][i] not in distinct:   
        distinct.append(df['smoker'][i]) 
        cnt += 1
print("No.of.unique values SMOKER:",
      cnt)
#print("unique values SMOKER:",distinct)

cnt = 0
distinct = []
for i in range(0, len(df['region'])): 
    if df['region'][i] not in distinct:   
        distinct.append(df['region'][i]) 
        cnt += 1
print("No.of.unique values REGION:",
      cnt)
#print("unique values REGION:",distinct)

No.of.unique values AGE: 47
No.of.unique values SEX: 2
No.of.unique values CHILDREN: 6
No.of.unique values SMOKER: 2
No.of.unique values REGION: 4

3. compute the percentage of male and female smokers for
each region

In [19]:
smokers = df[["region" , "sex" , "smoker"]][df["smoker"] == "yes"]
smokers
smoker_genders = smokers.groupby(['region', 'sex'])['sex'].count()
gender_pcts = smoker_genders.groupby(level=0).apply(lambda x:
                                                 round(100 * x / float(x.sum()), 2))
gender_pcts

region     sex
northeast  female    43.28
           male      56.72
northwest  female    50.00
           male      50.00
southeast  female    39.56
           male      60.44
southwest  female    36.21
           male      63.79
Name: sex, dtype: float64

4. compute the average age of smokers (male and females)
across regions. Any observations?

In [20]:
df3 = df[['smoker','age','sex']][df["smoker"] == "yes"]
avg = df3.groupby(['smoker','sex']).mean()
print(avg)

                     age
smoker sex
yes    female  38.608696
       male    38.446541

5. for each region compute the average BMI and costs and
summarize them in the tables like the one below (one table
for each region)

In [ ]:
df4 = df[['bmi','charges','region','sex']]
avg = df4.groupby(['sex','region']).mean()
print(avg)

                        bmi       charges
sex    region
female northeast  29.324317  12953.203151
       northwest  29.277957  12479.870397
       southeast  32.671257  13499.669243
       southwest  30.060494  11274.411264
male   northeast  29.024540  13854.005374
       northwest  29.120155  12354.119575
       southeast  33.990000  15879.617173
       southwest  31.129448  13412.883576